@model double?

@{
    var formEnabled = ConversionHelper.ToBoolean(ViewData[FieldConstants.FormEnabled]);
    var description = Model.ToString().SplitCamelCase();
}

<div class="input-group pb-1">
    @(Html.Kendo().NumericTextBoxFor(m => m)
          .Enable(formEnabled)
          .Label(label => label
              .Content(description)
              .Floating(true))
          .HtmlAttributes(new
          {
              placeholder = $"Enter {description}",
              @class = "w-100"
          }))
</div>

