@using Corno.Globals.Constants
@model Corno.Data.Corno.Masters.College
@{
    var viewDataDictionary = new ViewDataDictionary
{
        { ModelConstants.FormEnabled, true },
        { "Title", "Edit College : " + Model.Id },
        { "Action", "Edit"}
    };
}
<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#">OnlineExam</a></li>
            <li><a href="#">Masters</a></li>
            <li><a href="#">Edit College</a></li>
        </ol>
    </div>
</div>

@Html.ValidationSummary(false)
@Html.Partial("~/Areas/Masters/Views/College/_College.cshtml", Model, viewDataDictionary)

<script>
    function filterCourses() {
        return {
            facultyId: $("#FacultyId").val(),
        };
    }
</script>
