<li>
    <a href="@Url.Action("Index", "Home")" data-toggle="tooltip" data-placement="bottom" title="Home">
        <i class="fa fa-home"></i>
        <span class="badge progress-bar-success hidden-xs">Home</span>
    </a>
</li>
<li>
    <a href="@Url.Action("ContactPersons", new {area = "Admin", controller = "Generic"})" data-toggle="tooltip" data-placement="bottom" title="Contact Us">
        <i class="fa fa-phone"></i>
        <span class="badge progress-bar-success hidden-xs">Contact Us</span>
    </a>
</li>
<li>
    <a href="@Url.Action("Create", new {area = "Transactions", controller = "MarksEntry"})" data-toggle="tooltip" data-placement="bottom" title="Result">
        <i class="fa fa-file-zip-o"></i>
        <span class="badge progress-bar-success hidden-xs">Marks Entry</span>
    </a>
</li>