<li>
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm"}))
        {
            @Html.AntiForgeryToken()
            <div class="box">
                <a href="javascript:document.getElementById('logoutForm').submit()">
                    <i class="fa fa-power-off"></i>
                    <span class="hidden-sm text">Logout</span>
                </a>
            </div>
        }
    }

</li>