@{
    ViewBag.Title = "Contact Us";
}

<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb"></ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-table large"></i>
                    <span>Contact Persons</span>
                </div>
                <div class="box-icons">
                    <a class="collaps-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="expand-link">
                        <i class="fa fa-expand"></i>
                    </a>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="form-group  has-feedback">
                <div class="form-group">
                    <div class="col-sm-3 control-label">
                        <div class="box-content padding-15 table-responsive">
                            <address class="text-justify">
                                <strong>Dr. Anthony Rose</strong><br>
                                Controller of Examinations I/C<br>
                                Bharati Vidyapeeth <br/>
				(Deemed to be University),<br>
                                L.B.S. Marg,<br>
                                Pune : 411 030 (India)<br>
                                <abbr title="Phone">E-mail : </abbr><a href="mailto:#">exam.dept@bharatividyapeeth.edu</a><br>
                                <abbr title="Phone">Phone :</abbr> 020-243357197, 24407100 <br/>
                                <abbr title="Phone">Fax : </abbr> 020-24339121, 24321910
                            </address>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group  has-feedback">
                <div class="form-group">
                    <div class="col-sm-3 control-label">
                        <div class="box-content padding-15 table-responsive">
                            <address>
                                <strong>Shri. Abhay alias N. B. Sawant</strong><br>
                                Deputy Registrar<br>
                                Bharati Vidyapeeth <br/>
				(Deemed to be University),<br>
                                L.B.S. Marg,<br>
                                Pune : 411 030 (India)<br>
                                <abbr title="Phone">E-mail : </abbr><a href="mailto:#">exam.dept@bharatividyapeeth.edu</a><br>
                                <abbr title="Phone">Phone :</abbr> 020-24407197, 24407100<br />
                                <abbr title="Phone">Fax : </abbr>  020-24339121, 24321910
                            </address>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>