@using Corno.Globals.Constants
@model Corno.Data.ViewModels.Admin.RoleViewModel
@{
    var viewDataDictionary = new ViewDataDictionary
    {
        { ModelConstants.FormEnabled, true },
        { ModelConstants.Title, "Edit Role : " + Model.Name },
        { ModelConstants.Action, "Edit"}
    };
}
<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#">OnlineExam</a></li>
            <li><a href="#">Masters</a></li>
            <li><a href="#">Edit Role</a></li>
        </ol>
    </div>
</div>

@Html.ValidationSummary(false)

@Html.Partial("~/Areas/Admin/Views/Role/_Role.cshtml", Model, viewDataDictionary)

