@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <b> Concept Systems </b><br />
    Pune<br />
    <abbr title="Phone">Ph: 09822339229</abbr>
    CS
</address>

<address>
    <strong>Info:</strong>   <a href="mailto:info@concsystems.com">info@concsystems.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:sales@concsystems.com">sales@concsystems.com</a>
</address>